<form method="GET" class="mb-4">
    <div class="mb-3 text-end">
    <a href="{% url 'add_student' %}" class="btn btn-primary">
        + Add Student
    </a>
</div>

    <div class="input-group">
        <input
            type="text"
            class="form-control"
            name="search"
            placeholder="Search by username or admission number..."
            value="{{ search }}"
        >
        <button class="btn btn-primary">
            Search
        </button>
    </div>
</form>